<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: head"></head>
	<body>
		<div class="container">
			<div id="top" th:include="template :: masthead(${currentUser})"></div>
			<div id="middle">
				<div th:each="post : ${posts}">
					<hr/>
					<h2 style="text-align:left">
						<a th:href="'/blog/' + ${post.author.userName} + '/' + ${post.uid}" th:text="${post.title}"></a>
					</h2>
					<p style="text-align:left" th:text="${post.body}"></p>
					<div th:replace="template :: writtenBy(${post.author.userName},${post.created})"></div>
				</div>
<!-- 				<div th:with="prev_page=${prev_page},next_page=${next_page},offset=${offset},limit=${limit},posts=${posts}" th:replace="template :: pagination(${prev_page}, ${next_page}, ${offset}, ${limit}, ${posts})"></div>
 -->			</div>
			<div th:replace="template :: footer(${currentUser})"></div>
		</div>
	</body>
</html>