<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <p th:text="'Date of last pull: ' + ${lastPullDate}"></p>
        <table style="margin: auto">
        <tr><th style="padding-right: 2em">Name</th>
        	<th style="padding-right: 2em">Team</th>
        	<th style="padding-right: 2em">Pos</th>
        	<th style="padding-right: 2em">SGP</th>
        	<th style="padding-right: 2em">AB</th>
        	<th style="padding-right: 2em">R</th>
        	<th style="padding-right: 2em">HR</th>
        	<th style="padding-right: 2em">RBI</th>
        	<th style="padding-right: 2em">SB</th>
        	<th>OPS</th>
        </tr>
        <tr th:each="player : ${players}">
        	<td style="padding-right: 2em" th:text="${player.name}"></td>
        	<td style="padding-right: 2em" th:text="${player.team}"></td>
        	<td style="padding-right: 2em" th:text="${player.pos}"></td>
        	<td style="padding-right: 2em" th:text="${player.sgp}"></td>
        	<td style="padding-right: 2em" th:text="${player.ab}"></td>
        	<td style="padding-right: 2em" th:text="${player.r}"></td>
        	<td style="padding-right: 2em" th:text="${player.hr}"></td>
        	<td style="padding-right: 2em" th:text="${player.rbi}"></td>
        	<td style="padding-right: 2em" th:text="${player.sb}"></td>
        	<td style="padding-right: 2em" th:text="${player.ops}"></td>
		</tr>
	</table>
    </div>

    <div th:replace="template :: footer(${username})"></div>
</div>
</body>
</html>