<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head lang="en" th:fragment="head">
    	<meta charset="UTF-8" />
    	<title th:text="*{title}?: 'tFBPs'"></title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />
	    <link th:href="@{/css/styles.css}" rel="stylesheet" />
	    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    	<script th:src="@{/js/bootstrap.min.js}"></script>
    	<script th:src="@{/js/scripts.js}"></script>
	    <style> td {text-align: left;}</style>
	    
	    <!-- Move into JS file -->
	    <script>
		function popupWindow(url) {
 		   popup = window.open(url, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=560,height=400");
		}</script>
	</head>
	<body>
    	<div class="container">
	        <div id="top" th:fragment="masthead(currentUser)">
	        	<br/>
    	        <table style="margin:auto;">
    	        	<tr>
    	        		<td><a href="/" style="display:block;"><img th:src="@{/img/fs_logo.png}" alt="the Fantasy site" height="80" width="80"/></a></td>
    	        		<td style="vertical-align:bottom;"><p style="margin-bottom:0px;">&nbsp;&nbsp;the fantasy site</p></td>
    	        	</tr>
    	        </table>
    	        <ul class="nav nav-pills" style="margin:5px auto 20px;display:inline-block;">
            	    <li><a href="/">home</a></li>
                	<li><a href="/fpprojb">fantasy pros batter projections</a></li>
                	<li><a href="/fpprojp">fantasy pros pitcher projections</a></li>
                	<li><a href="/blog">blog</a></li>
                	<li th:if="${user}"><a th:if="${user.userGroup} == 'admin'" href="/admin">admin</a></li>
                 	<li><a th:href="(${currentUser} ? '/useraccount' : '/login')" th:text="(${currentUser} ? ${currentUser} : 'login')"></a></li>
                	<li th:if="${currentUser}"><a href="/logout">logout</a></li>
                </ul>
        	</div>
	        <div id="middle"></div>
	        <div id="writtenBy" th:fragment="writtenBy(username,created)">
	        	<p class="post-author" style="text-align:right">written by <a th:href="'/blog/' + ${username}" th:text="${username}"></a><span th:text="' on ' + ${#dates.format(created, 'MM.dd.yy')}"></span></p>
	        </div>
	        <div id="bottom" th:fragment="pagination(prev_page, next_page, offset, limit, posts)">
	        
	        </div>
	        <div id="bottom" th:fragment="footer">
	        <br/>
	        <hr/>
    	    	<p>site design / logo © 2016 Colin Aardsma</p>
			</div>
    	</div>
	</body>
</html>