<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: head"></head>
	<body>
		<div class="container">
			<div id="top" th:include="template :: masthead(${currentUser})"></div>
    		<div id="middle">
    			<form style="width:80%; margin:auto" th:action="(${category} == 'batter' ? '/user_fpprojb' : '/user_fpprojp')" method="post">
	    			<select name="league" style="text-align:left">
						<option th:each="league : ${leagues}" th:value="${league.leagueKey}" th:text="${league.season} + ' - ' + ${league.leagueName}"></option>
					</select>
	    			<div class="error" th:text="${error}"></div>
	    			<label style="width:80%; text-align:left">
	    				<input type="submit" />
	    			</label>
				</form>    		
    		</div>
    		<div th:replace="template :: footer(${currentUser})"></div>
		</div>
	</body>
</html>