<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: head"></head>
	<body>
		<div class="container">
			<div id="top" th:include="template :: masthead(${currentUser})"></div>
			<div id="middle">
				<h3 th:text="${currentUser} + '\'s account'"></h3>
				<hr/>
				<div>
					<h4 th:text="${currentUser} + '\'s Custom SGP'"></h4>
					<form action="/user_fpprojb" method="post">
						<table style="margin:auto">
							<tr>
								<td><select name="league">
									<option th:each="league : ${batterLeagues}" th:value="${league.leagueKey}" th:text="${league.season} + ' - ' + ${league.leagueName}"></option>
								</select></td>
								<td><input type="submit" value="Show Custom Batter SGP" /></td>
							</tr>
						</table>
					</form>
					<br/>
					<form action="/user_fpprojp" method="post">
						<table style="margin:auto">
							<tr>
								<td><select name="league">
									<option th:each="league : ${pitcherLeagues}" th:value="${league.leagueKey}" th:text="${league.season} + ' - ' + ${league.leagueName}"></option>
								</select></td>
								<td><input type="submit" value="Show Custom Pitcher SGP" /></td>
							</tr>
						</table>
					</form>	
				</div>
				<br/>
				<div>
					<h4>Calculate new Custom SGPs</h4>
					<ul class="nav nav-pills">
						<li style="width:49.9%"><a href="/user_fpprojb">Calculate Batter SGP</a></li>
						<li style="width:49.9%"><a href="/user_fpprojp">Calculate Pitcher SGP</a></li>
					</ul>
				</div>
				<hr/>
				<div>
					<h4>Link to Yahoo! Account</h4>
					<ul class="nav nav-pills">
						<li style="width:100%"><a onclick="javascript:popupWindow('/yahoolinkaccount')">Link Yahoo! Account</a></li>
					</ul>
				</div>
				<br/>
				<div>
					<h4>Link Your Yahoo! Leagues</h4>
					<ul class="nav nav-pills">
						<li style="width:100%"><a href="/useryahooleagues">Link Your Yahoo! Leagues</a></li>
					</ul>
				</div>
			</div>
			<div th:replace="template :: footer"></div>
		</div>
	</body>
</html>
