<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: head(page='user yahoo leagues')"></head>
	<body>
		<div class="container">
			<div id="top" th:include="template :: masthead(${currentUser})"></div>
			<div id="middle">
				<h4>Add Your Yahoo! Leagues</h4>
				<h5>***IT MAY TAKE SEVERAL MINUTES TO PULL LEAGUE DATA***</h5>
				<h5>Please be patient</h5>
				<br/>
				<form style="width:80%; margin:auto" method="post">
	    			<select name="league">
						<option th:each="league : ${leagues}" th:value="${league[3]}" th:text="${league[0]} + ' - ' + ${league[1]}"></option>
					</select>
					<br/>
					<label>
						<input type="checkbox" name="leagueHistory" value="true" checked="checked" />
						Link Previous Years
					</label>
					<br/>
					<label>Years to Link: 
						<select name="prevyears">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</label>
					<br/>
	    			<label>
						<input type="checkbox" name="keeperLeague" value="true" checked="checked" />
						League Has Keepers
					</label>
	    			<div class="error" th:text="${error}"></div>
	    			<br/>
	    			<label>
	    				<input type="submit" />
	    			</label>
				</form>
				<br/>
				<div th:each="linkedLeague : ${linkedLeagues}">
					<a th:href="${linkedLeague.leagueURL}" th:text="${linkedLeague.leagueName}" target="_blank"></a>
					<!-- <p th:text="(${leagueScoringType} ? 'Scoring Type: ' + ${leagueScoringType} : '')"></p> -->
					<p th:text="(${linkedLeague.leagueKey} ? 'League Key: ' + ${linkedLeague.leagueKey} : '')"></p>
					<p th:text="(${linkedLeague.previousYearKey} ? 'Previous Year Key: ' + ${linkedLeague.previousYearKey} : '')"></p>
					<br/>
				</div>
			</div>
			<div th:replace="template :: footer"></div>
		</div>
	</body>
</html>