<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: head(page='user account')"></head>
	<body>
		<div class="container">
			<div id="top" th:include="template :: masthead(${currentUser})"></div>
			<div id="middle">
				<h3 th:text="${currentUser} + '\'s account'"></h3>
				<hr/>
				<div th:if="${not #lists.isEmpty(batterYahooRotoLeagues) or not #lists.isEmpty(pitcherYahooRotoLeagues)}">
					<h4 th:text="${currentUser} + '\'s Custom Yahoo Roto League SGP'"></h4>
					<form action="/user_yahoo_roto_fpprojb" method="post" th:if="${not #lists.isEmpty(batterYahooRotoLeagues)}">
						<table style="margin:auto">
							<tr>
								<td><select name="league">
									<option th:each="league : ${batterYahooRotoLeagues}" th:value="${league.leagueKey}" th:text="${league.season} + ' - ' + ${league.leagueName}"></option>
								</select></td>
								<td><input type="submit" value="Show Custom Batter SGP" /></td>
							</tr>
						</table>
						<br/>
					</form>
					<form action="/user_yahoo_roto_fpprojp" method="post" th:if="${not #lists.isEmpty(pitcherYahooRotoLeagues)}">
						<table style="margin:auto">
							<tr>
								<td><select name="league">
									<option th:each="league : ${pitcherYahooRotoLeagues}" th:value="${league.leagueKey}" th:text="${league.season} + ' - ' + ${league.leagueName}"></option>
								</select></td>
								<td><input type="submit" value="Show Custom Pitcher SGP" /></td>
							</tr>
						</table>
					</form>	
					<br/>
				</div>
				<div th:if="${not #lists.isEmpty(user.yahooRotoLeagues)}">
					<h4>Calculate new Yahoo Roto League Custom SGPs</h4>
					<ul class="nav nav-pills">
						<li style="width:49.9%"><a href="/user_yahoo_roto_fpprojb">Calculate Batter SGP</a></li>
						<li style="width:49.9%"><a href="/user_yahoo_roto_fpprojp">Calculate Pitcher SGP</a></li>
					</ul>
					<hr/>
				</div>
				<div th:if="${not #lists.isEmpty(batterOttoneuOldSchoolLeagues) or not #lists.isEmpty(pitcherOttoneuOldSchoolLeagues)}">
					<h4 th:text="${currentUser} + '\'s Custom Ottoneu Old School League SGP'"></h4>
					<form action="/user_ottoneu_old_school_fpprojb" method="post" th:if="${not #lists.isEmpty(batterOttoneuOldSchoolLeagues)}">
						<table style="margin:auto">
							<tr>
								<td><select name="league">
									<option th:each="league : ${batterOttoneuOldSchoolLeagues}" th:value="${league.leagueKey}" th:text="${league.season} + ' - ' + ${league.leagueName}"></option>
								</select></td>
								<td><input type="submit" value="Show Custom Batter SGP" /></td>
							</tr>
						</table>
						<br/>
					</form>
					<form action="/user_ottoneu_old_school_fpprojp" method="post" th:if="${not #lists.isEmpty(pitcherOttoneuOldSchoolLeagues)}">
						<table style="margin:auto">
							<tr>
								<td><select name="league">
									<option th:each="league : ${pitcherOttoneuOldSchoolLeagues}" th:value="${league.leagueKey}" th:text="${league.season} + ' - ' + ${league.leagueName}"></option>
								</select></td>
								<td><input type="submit" value="Show Custom Pitcher SGP" /></td>
							</tr>
						</table>
					</form>	
					<br/>
				</div>
				<div th:if="${not #lists.isEmpty(user.ottoneuOldSchoolLeagues)}">
					<h4>Calculate new Ottoneu Old School League Custom SGPs</h4>
					<ul class="nav nav-pills">
						<li style="width:49.9%"><a href="/user_ottoneu_old_school_steamerb">Calculate Batter SGP</a></li>
						<li style="width:49.9%"><a href="/user_ottoneu_old_school_steamerp">Calculate Pitcher SGP</a></li>
					</ul>
					<hr/>
				</div>
				<div th:if="${user.yahooOAuthAccessToken} == null">
					<h4>Link to Yahoo! Account</h4>
					<ul class="nav nav-pills">
						<li style="width:100%"><a onclick="javascript:popupWindow('/yahoolinkaccount')">Link Yahoo! Account</a></li>
					</ul>
				<hr/>
				</div>
				<div th:if="${user.yahooOAuthAccessToken} != null">
					<h4>Link Your Yahoo! Leagues</h4>
					<ul class="nav nav-pills">
						<li style="width:100%"><a href="/useryahooleagues">Link Your Yahoo! Leagues</a></li>
					</ul>
				<hr/>
				</div>
				<div>
					<h4>Link to Ottoneu League</h4>
					<ul class="nav nav-pills">
						<li style="width:100%"><a href="/ottoneuleagueentry">Link Your Ottoneu League</a></li>
					</ul>
				</div>
			</div>
			<div th:replace="template :: footer"></div>
		</div>
	</body>
</html>
