<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: head"></head>
	<body>
		<div class="container">
			<div id="top" th:include="template :: masthead(${currentUser})"></div>
    		<div id="middle">
        		<p th:text="'Date of last pull: ' + ${#dates.format(lastPullDate, 'MM.dd.yy')}"></p>
        		<table style="margin: auto">
					<tr>
						<th style="padding-right: 2em">Name</th>
						<th style="padding-right: 2em">Team</th>
						<th style="padding-right: 2em">Pos</th>
						<th style="padding-right: 2em">SGP</th>
						<th style="padding-right: 2em" th:text="(${category} == 'batter' ? 'AB' : 'IP')"></th>
						<th style="padding-right: 2em" th:text="(${category} == 'batter' ? 'R' : 'W')"></th>
						<th style="padding-right: 2em" th:text="(${category} == 'batter' ? 'HR' : 'SV')"></th>
						<th style="padding-right: 2em" th:text="(${category} == 'batter' ? 'RBI' : 'K')"></th>
						<th style="padding-right: 2em" th:text="(${category} == 'batter' ? 'SB' : 'ERA')"></th>
						<th th:text="(${category} == 'batter' ? 'OPS' : 'WHIP')"></th>
					</tr>
					<tr th:each="player,iterationStatus : ${players}">
        				<td style="padding-right: 2em" th:text="${player.name}"></td>
 			   	    	<td style="padding-right: 2em" th:text="${player.team}"></td>
       			 		<td style="padding-right: 2em" th:text="${player.pos}"></td>
       		 			<td style="padding-right: 2em" th:text="(${category} == 'batter' ? ${userBatterSGP} : ${userBatterSGP})"></td>
        				<td style="padding-right: 2em" th:text="(${category} == 'batter' ? ${player.ab} : ${player.ip})"></td>
		        		<td style="padding-right: 2em" th:text="(${category} == 'batter' ? ${player.r} : ${player.w})"></td>
      			  		<td style="padding-right: 2em" th:text="(${category} == 'batter' ? ${player.hr} : ${player.sv})"></td>
	    	    		<td style="padding-right: 2em" th:text="(${category} == 'batter' ? ${player.rbi} : ${player.k})"></td>
    		    		<td style="padding-right: 2em" th:text="(${category} == 'batter' ? ${player.sb} : ${player.era})"></td>
        				<td style="padding-right: 2em" th:text="(${category} == 'batter' ? ${player.ops} : ${player.whip})"></td>
					</tr>
				</table>
    		</div>
    		<div th:replace="template :: footer(${currentUser})"></div>
		</div>
	</body>
</html>