<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: head"></head>
	<body>
		<div class="container">
			<div id="top" th:include="template :: masthead"></div>
			<div id="middle">
				<p>OAuth Test!</p>
				<form style="width:80%; margin:auto" method="post">
				    <label style="width:80%; text-align:left">Yahoo Username<br/>
			    	    <input style="width:20em" type="text" name="yahooUsername" th:value="${yahooUsername}"></input>
	    			</label>
	    			<div class="error" th:text="${error}"></div>
	    			<label style="width:80%; text-align:left">
	    				<button type="submit">Lookup</button>
	    			</label>
	    			<button><a th:href="${refreshAccessTokenLink}">Refresh Access Token</a></button>
				</form>
				<br/>
				<p th:text="${yahooGUID}"></p>
				
<!-- 				<a th:href="${leagueURL}" th:text="${leagueName}" target="_blank"></a>
				<p th:text="'Scoring Type: ' + ${leagueScoringType}"></p> -->
			</div>
		</div>
	</body>
</html>