<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head th:replace="template :: head(page='yahoo league lookup')"></head>
	<body>
		<div class="container">
			<div id="top" th:include="template :: masthead(${currentUser})"></div>
			<div id="middle">
				<p>OAuth Test!</p>
				<form style="width:80%; margin:auto" method="post">
				    <label style="width:80%; text-align:left">Yahoo League Key<br/>
			    	    <input style="width:20em" type="text" name="league_key" th:value="${league_key}"></input>
	    			</label>
	    			<br/>
	    			<select name="leagueYear" style="text-align:left">
						<option value="357" th:selected="(${leagueYear} == '357')">2016</option>
						<option value="346" th:selected="(${leagueYear} == '346')">2015</option>
						<option value="328" th:selected="(${leagueYear} == '328')">2014</option>
						<option value="308" th:selected="(${leagueYear} == '308')">2013</option>
						<option value="268" th:selected="(${leagueYear} == '268')">2012</option>
						<option value="253" th:selected="(${leagueYear} == '253')">2011</option>
						<option value="238" th:selected="(${leagueYear} == '238')">2010</option>
						<option value="215" th:selected="(${leagueYear} == '215')">2009</option>
						<option value="195" th:selected="(${leagueYear} == '195')">2008</option>
						<option value="171" th:selected="(${leagueYear} == '171')">2007</option>
						<option value="147" th:selected="(${leagueYear} == '147')">2006</option>
						<option value="113" th:selected="(${leagueYear} == '113')">2005</option>
						<option value="98" th:selected="(${leagueYear} == '98')">2004</option>
						<option value="74" th:selected="(${leagueYear} == '74')">2003</option>
						<option value="39" th:selected="(${leagueYear} == '39')">2002</option>
						<option value="12" th:selected="(${leagueYear} == '12')">2001</option>
					</select>
	    			<div class="error" th:text="${error}"></div>
	    			<label style="width:80%; text-align:left">
	    				<button type="submit">Lookup</button>
	    			</label>
				</form>
				<br/>
				<a th:href="${leagueURL}" th:text="${leagueName}" target="_blank"></a>
				<p th:text="(${leagueScoringType} ? 'Scoring Type: ' + ${leagueScoringType} : '')"></p>
				<p th:text="(${prevYearKey} ? 'Previous Year Key: ' + ${prevYearKey} : '')"></p>
			</div>
			<div th:replace="template :: footer"></div>
		</div>
	</body>
</html>